@model List<Beer>

<h1>Beers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Beers
            </th>
            
        </tr>
    </thead>
<tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name) - <strong>Id Marca: </strong> <em>@Html.DisplayFor(modelItem => item.BrandId)</em>
                </td>
            </tr>
        }
</table>