@model List<Brand>

    
<h1>Brands</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Marcas
            </th>
            
        </tr>
    </thead>
<tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name) <strong>País:</strong> @Html.DisplayFor(modelItem => item.Country)
                </td>
                
            </tr>
        }
</table>